<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
    <title>Facebook Graph API Developer Tools</title>
    
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?3.1.1/build/cssreset/reset-min.css&amp;3.1.1/build/cssbase/base-min.css&amp;3.1.1/build/cssfonts/fonts-min.css" />
    <style type="text/css">
      th { text-align: left; }
      td, th { border: none; }
    </style>
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript">
      jQuery(function ($) {
        $('#scope_select_all').change(function () {
          if (this.checked)
            $('input[type=checkbox].scope').attr('checked', 'checked');
          else
            $('input[type=checkbox].scope').removeAttr('checked');
        });
      });
    </script>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>