<form action="{% url oauth-authorize %}" method="post">
  {% csrf_token %}
  
  <fieldset id="extperms">
    <legend>Extended permissions</legend>
    <table>
      <tr>
        <td><input type="checkbox" id="scope_select_all" /></td>
        <td><label for="scope_select_all">(select all)</label></td>
        <td>&#xa0;</td>
        <td>&#xa0;</td>
      </tr>
    
      <tr>
        <th colspan="2">Basic permissions</th>
        <td colspan="2">&#xa0;</td>
      </tr>
    
      {% for scope in scopes.basic %}
        <tr>
          <td><input class="scope" type="checkbox" id="scope_{{ scope }}" name="{{ scope }}" /></td>
          <td><label for="scope_{{ scope }}">{{ scope }}</label></td>
          <td>&#xa0;</td>
          <td>&#xa0;</td>
        </tr>
      {% endfor %}
    
      <tr>
        <th colspan="2">Publishing permissions</th>
        <td colspan="2">&#xa0;</td>
      </tr>
    
      {% for scope in scopes.publish %}
        <tr>
          <td><input class="scope" type="checkbox" id="scope_{{ scope }}" name="{{ scope }}" /></td>
          <td><label for="scope_{{ scope }}">{{ scope }}</label></td>
          <td>&#xa0;</td>
          <td>&#xa0;</td>
        </tr>
      {% endfor %}
    
      <tr>
        <th colspan="4">Data permissions</th>
      </tr>
      
      <tr>
        <th colspan="2">User</th>
        <th colspan="2">Friends</th>
      </tr>
    
      {% for scope in scopes.user_friend %}
        <tr>
          <td><input class="scope" type="checkbox" id="scope_user_{{ scope }}" name="user_{{ scope }}" /></td>
          <td><label for="scope_user_{{ scope }}">user_{{ scope }}</label></td>
        
          <td><input class="scope" type="checkbox" id="scope_friends_{{ scope }}" name="friends_{{ scope }}" /></td>
          <td><label for="scope_friends_{{ scope }}">friends_{{ scope }}</label></td>
        </tr>
      {% endfor %}
    
      <tr>
        <td>&#xa0;</td>
        <td><input type="submit" value="Get your access token" /></td>
        <td>&#xa0;</td>
        <td>&#xa0;</td>
      </tr>
    </table>
  </fieldset>
</form>
